[Desktop Entry]
Type=Application
Name=Show in HOCR viewer
Comment=Description
Categories=Applications
Exec=python3 /home/macrico/documents/Book2Book/Toolbox/show_in_viewer.py %F
StartupNotify=true
Terminal=false
