.idea

*.pyc
Toolbox/*.pyc
Toolbox/__pycache__/
Toolbox/bookscanner/cache/
Toolbox/bookscanner/__pycache__/
Toolbox/venv*

# Book folder
Book/*
!Book/README.md

# Page image folder
Pages/*
!Pages/README.md

# Layout folder
Layout/*.html
Layout/hocr-charboxes/*

# Glyph folder
Glyphs/auto-extracted/*
Glyphs/average/*
Glyphs/clean/*
Glyphs/levels/*
Glyphs/specialChar/*
Glyphs/vectors/*

# Font folder
Font/*
!Font/README.md

Old/

*.autosave
