.idea

*.pyc
Toolbox/*.pyc
Toolbox/__pycache__/
Toolbox/bookscanner/cache/
Toolbox/bookscanner/__pycache__/

# Book folder
Book/*
!Book/README.md

# Page image folder
Pages/*

# Layout folder
Layout/*.html
Layout/hocr-charboxes/*

# Glyph folder
Glyphes/*/*

# Font folder
Font/*
!Font/README.md

