@import url('https://fonts.googleapis.com/css?family=Share+Tech');
/*@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');*/

@font-face {
  font-family: 'Share Tech Mono';
  src: url('Toolbox/ShareTechMono-Regular.ttf'); /* IE9 Compat Modes */
}
body{
  margin: 0;
  font-family: Share Tech Mono;
  font-style: normal;
  font-weight: normal;
}
@media print {
    @page{
      size:400mm 600mm;
      margin: 1cm;
      margin-bottom: 1.5cm;
    }

    .imagediv img{
      page-break-inside: avoid;
    }
    img{
      page-break-inside: avoid;
    }
    .imagediv{
      page-break-inside: avoid;
    }
}
.legende{
  position: absolute;
  bottom: 5cm;
  width: 100%;
  text-align: center;
  font-size: 18pt;
}
.lettre{
  font-size: 28pt;
}
.nombre{
  font-family: Share Tech Mono;
}
#couv{
  width: 100%;
  text-align: center;
  page-break-after: always;
}
#couv img{
  /*width: 100%;*/
}

#images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagediv{
  width: 2.5cm;
  height: 2.5cm;
}

.imagediv img{
  width: 70%;
  page-break-inside: avoid;
  max-height: 100%;
  display: block;
  margin: auto;
}
