@import url('https://fonts.googleapis.com/css?family=Share+Tech');
/*@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');*/

@font-face {
  font-family: 'Share Tech Mono';
  src: url('Toolbox/ShareTechMono-Regular.ttf'); /* IE9 Compat Modes */
}

h1,h2,h3{
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
}

em{
  font-family: "Share Tech";
  background-color: grey;
  padding-right: 0.2rem;
  font-weight: bold;
}
figcaption{
  display: none;
}

pre code{
  /*margin-left: 1cm;*/
}
pre code::before{
  content:">> ";
  background-color: grey;
  /*margin-left: -1cm;*/
}
@media screen {
  body {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1rem;
  }
  pre{
    overflow-x: scroll;
    background-color: black;
  }

  h1 {
    /*text-align: center;*/
    font-size: 4rem;
  }
  h2 {
    font-size:3rem;
  }

  h3{
    font-size: 2rem;
  }
}

blockquote p{
  font-style: italic;
}

.flex-tier {
  display: flex;
  margin-top: 1rem;
}
.flex-tier img{
  object-fit: contain;
  width: 100%;
}
.flex-tier *{
  width: 33%;
}
.flex-tier>img{
  margin-top: -3cm;
  width: 33%;
  z-index: -1;
}

@media print {
  @page{
    margin: 0;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1.5cm;
  }
  body {
    width: auto!important;
    font-family: serif;
    font-size: 12pt;
    background-color: #fff!important;
    color: #000!important;
      font-size: 14pt;
  }
  @page :right {
    margin-right: 2.5cm;
  }
  @page :left {
    margin-left: 2.5cm;
  }
  em{
    color:white;
    padding-right: 3pt;
    font-weight: bold;
  }
  pre{
    background-color: grey;
  }
  h1 {
    /*text-align: center;*/
    font-size: 45pt;
    margin-top: 0;
    page-break-before: always;
  }

  h2 {
    font-size:35pt;
    margin-bottom: 0cm;
    margin-top: 0;
  }

  h3{
    font-size: 25pt;
    margin-bottom: 0;
  }
}

body{
  font-family: "source sans pro"
}

pre{
  padding: 1em;
  /*overflow-x: scroll;*/
}

.center{
  text-align: center;
}


code{
  font-family: "Share Tech Mono";
  background-color: black;
  color: white;
  white-space: pre-wrap;
  font-variant-ligatures: none;
}

.preblack{
  background-color:black;
  color:white;
}
.preblack code::before{
  content:'';
}
.preblack code{
  color:white;
}


a{
  color:blue;
}

figure img{
  display: flex;
  margin: auto;
  max-width: 100%;
}
